# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
_pycache_/
*.pyc
*.pyo

# Raw data (too large for GitHub)
data/raw/

# Environment files
.env
venv/
env/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db